<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Team</h2>
        <h3 class="section-subheading"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/team/026.jpg" alt="">
          <h4>Lindsay Schmidt</h4>
          <p class="">Sewist Extraordinaire</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.instagram.com/lindsaykahnehandmade">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="mailto:Lindsay@lindsaykahnehandmade.com">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large">
          Contact me anytime, either here or on Instagram! I’m always happy to hear about your ideas!
        </p>
      </div>
    </div>
  </div>
</section>
